* {
  box-sizing: border-box;
  padding: unset;
  margin: unset;
  outline: none;
}
body {
  font-family: sans-serif;
  background-color: black;
}

.control-bar {
  background-color: #101010;
}

.control-bar-expanded {
  background-color: black;
}

.progress-bar {
  width: 100vw;
  height: 2px;
  background-color: rgba(360, 360, 360, 0.2);
}
.progress-bar-inner {
  width: 0%;
  height: 100%;
  background-color: white;
}
.player-bar {
  color: white;
  height: 64px;

  display: flex;
}

.player-bar-left {
  width: 100%;
  display: flex;
  height: 100%;
}

.fas {
  font-size: 14px;
}

.player-bar-middle i {
  padding: 4px;
}

.fa-play,
.fa-pause {
  font-size: 20px;
}

.player-bar-middle {
  height: 100%;
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

.player-bar-middle i {
  margin: 0px 5px;
  cursor: pointer;
}
.picture {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-picture {
  height: 40px;
  width: 40px;
  background-color: white;
}

.info {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.artist {
  color: lightgray;
  font-size: 14px;
}
.title {
  font-size: 14px;
}
.control-bar {
  position: absolute;
  bottom: 0;
}

.control-bar-expanded {
  display: none;
}

.control-bar-top-exp {
  height: 10vh;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}
.control-bar-top-inner-exp {
  width: 100vw;
  max-width: 475px;
  height: 100%;

  display: flex;
  align-items: center;
}

.control-bar-top-exp i {
  margin-left: 20px;
}
.control-bar-picture-exp {
  height: 50vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.control-bar-innerpicture-exp {
  height: 70vw;

  max-height: 350px;
  max-width: 350px;
  width: 70vw;
  background-color: white;
  justify-content: center;
  border-radius: 8px;
}

.control-bar-controls-exp {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 40vh;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    max-width: 350px;
    width: 80vw;
    -webkit-appearance: none;
    background-color: rgba(360, 360, 360, 0.1);
    cursor: pointer;
    border-radius: 5px;
  }
  .timestamps {
    width: 80vw;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-top: 5px;
    opacity: 0.5;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    color: white;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 1px;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: -300px 0 0 300px white;
  }
}

.control-bar-controls-bottom-exp i {
  margin: 10px;
  cursor: pointer;
}

.control-bar-controls-bottom-exp {
  width: 60vw;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play2c {
  background-color: rgba(360, 360, 360, 0.15);
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.fa-chevron-down {
  cursor: pointer;
}

.control-bar-title-exp {
  font-size: 20px;
}

.control-bar-artist-exp {
  padding: 5px;
  padding-bottom: 10vh;
}

.control-bar-artist-exp {
  opacity: 0.5;
}

.artist {
  white-space: nowrap;
}

.title {
  white-space: nowrap;
}

.inner-picture {
  background: center;
  background-size: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.control-bar-innerpicture-exp {
  background: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.collum1 {
  width: 100vw;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 10px;
}

.inner-collum1 {
  width: 100%;
  height: 100%;
  max-width: 600px;
  display: flex;
}

.start-song {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: left;
}
.start-song-inner {
  width: 160px;
  height: 160px;
  border-radius: 5px;
  background-image: url("https://i1.sndcdn.com/artworks-000102464816-26g2sw-t500x500.jpg");
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playc {
  font-size: 35px;
  cursor: pointer;
  color: rgba(360, 360, 360, 0.8);
}
.playc:hover {
  font-size: 35px;
  cursor: pointer;
  color: rgba(360, 360, 360, 1);
}
.playlist1 {
  background-color: gray;
  height: 100%;
  width: 50%;
}
.song1 {
  width: 80px;
  height: 80px;
  background-color: white;
  border: black 1px solid;
  display: inline-block;
}
.song2 {
  width: 80px;
  height: 80px;
  background-color: white;
  display: inline-block;
}
.song3 {
  width: 80px;
  height: 80px;
  background-color: white;
  border: black 1px solid;
  display: inline-block;
}
.start-song-title {
  width: 160px;
  height: 40px;
}
.start-song-title-inner {
  padding-top: 10px;
  font-size: 16px;
}
.start-song-artist-inner {
  padding-top: 5px;
  color: gray;
  font-size: 14px;
}
