* {
  box-sizing: border-box;
  padding: unset;
  margin: unset;
  outline: none;
}
body {
  font-family: sans-serif;
  background-color: black;

  width: 100vw;
  overflow: none;
}

html {
  width: 100vw;
}

.control-bar {
  background-color: #101010;
}

.control-bar-expanded {
  background-color: black;
}

.progress-bar {
  width: 100vw;
  height: 2px;
  background-color: rgba(360, 360, 360, 0.2);
}
.progress-bar-inner {
  width: 0%;
  height: 100%;
  background-color: white;
}
.player-bar {
  color: white;
  height: 64px;

  display: flex;
}

.player-bar-left {
  width: 100%;
  display: flex;
  height: 100%;
}

.fas {
  font-size: 14px;
}

.player-bar-middle i {
  padding: 4px;
}

.fa-play,
.fa-pause {
  font-size: 20px;
}

.player-bar-middle {
  height: 100%;
  width: min-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 5px;
}

.player-bar-middle i {
  margin: 0px 5px;
  cursor: pointer;
}
.picture {
  height: 64px;
  width: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner-picture {
  height: 40px;
  width: 40px;
  background-color: white;
}

.info {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
.artist {
  color: lightgray;
  font-size: 14px;
}
.title {
  font-size: 14px;
}
.control-bar {
  position: fixed;
  bottom: 0;
}

.control-bar-expanded {
  display: none;
}

.control-bar-top-exp {
  height: 10vh;
  color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}
.control-bar-top-inner-exp {
  width: 100vw;
  max-width: 475px;
  height: 100%;

  display: flex;
  align-items: center;
}

.control-bar-top-exp i {
  margin-left: 20px;
}
.control-bar-picture-exp {
  height: 50vh;
  width: 100vw;

  display: flex;
  justify-content: center;
  align-items: center;
}
.control-bar-innerpicture-exp {
  height: 30vh;
  margin: 20px;
  max-height: 350px;
  max-width: 350px;
  width: 30vh;
  background-color: white;
  justify-content: center;
  border-radius: 8px;
}

.control-bar-controls-exp {
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  height: 40vh;
  padding-bottom: 80px;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    max-width: 350px;
    width: 80vw;
    -webkit-appearance: none;
    background-color: rgba(360, 360, 360, 0.1);
    cursor: pointer;
    border-radius: 5px;
  }
  .timestamps {
    width: 80vw;
    max-width: 350px;
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    padding-top: 5px;
    opacity: 0.5;
  }
  input[type="range"]::-webkit-slider-runnable-track {
    height: 5px;
    -webkit-appearance: none;
    color: white;
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 1px;
    -webkit-appearance: none;
    height: 10px;
    border-radius: 5px;
    background: #ffffff;
    box-shadow: -300px 0 0 300px white;
  }
}

.control-bar-controls-bottom-exp i {
  margin: 10px;
  cursor: pointer;
}

.control-bar-controls-bottom-exp {
  width: 60vw;
  max-width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.play2c {
  background-color: rgba(360, 360, 360, 0.15);
  width: 50px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.fa-chevron-down {
  cursor: pointer;
}

.control-bar-title-exp {
  font-size: 20px;
}

.control-bar-artist-exp {
  padding: 5px;
  padding-bottom: 6vh;
}

.control-bar-artist-exp {
  opacity: 0.5;
}

.artist {
  white-space: nowrap;
}

.title {
  white-space: nowrap;
}

.inner-picture {
  background: center;
  background-size: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.control-bar-innerpicture-exp {
  background: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.collum1 {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.inner-collum1 {
  width: 100%;
  height: 100%;
  max-width: 600px;
  display: flex;
}

.start-song {
  width: 50%;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: white;
  text-align: left;
}
.start-song-inner {
  width: 160px;
  height: 160px;
  border-radius: 5px;
  background-image: url("https://i1.sndcdn.com/artworks-000152209996-zt335k-t500x500.jpg");
  background-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playc {
  font-size: 35px;
  cursor: pointer;
  color: rgba(360, 360, 360, 0.8);
}
.dark {
  color: rgba(0, 0, 0, 0.8);
}
.playc:hover {
  font-size: 35px;
  cursor: pointer;
  color: rgba(360, 360, 360, 1);
}
.dark:hover {
  color: rgba(0, 0, 0, 1);
}
.playlist1 {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.start-song-title {
  width: 160px;
  height: 40px;
}
.start-song-title-inner {
  padding-top: 10px;
  font-size: 16px;
}
.start-song-artist-inner {
  padding-top: 5px;
  color: gray;
  font-size: 14px;
}

.playlist1-playing {
  width: 100%;
  height: min-content;
}

.now {
  color: white;
  font-size: 14px;
}
.next {
  color: white;
  font-size: 14px;
}
.list {
  color: white;
  font-size: 14px;
  padding-bottom: 10px;
}
.playing-info {
  color: rgba(360, 360, 360, 0.5);
}
.next-info {
  color: rgba(360, 360, 360, 0.5);
}
.list-info {
  color: rgba(360, 360, 360, 0.5);
}

.playlist1-cont {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.playlist1-cont-top {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}

.play-playlist {
  padding-right: 20px;
  color: rgba(360, 360, 360, 0.5);
}
.play-playlist:hover {
  color: rgba(360, 360, 360, 1);
}

.playlist1-next {
  padding-top: 20px;
}

.playlist1-list {
  overflow-y: scroll;
  height: 300px;
  width: 300px;
  margin-bottom: 20px;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.collum1-title {
  width: 100vw;
  color: white;
  text-align: center;
  margin-top: 40px;
}

iframe {
  display: none;
}
main {
  height: calc(100vh - 66px);
  overflow-y: scroll;
  overflow-x: hidden;
}

@media only screen and (max-width: 600px) {
  .inner-collum1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .collum1 {
    height: min-content;
  }
  .start-song {
    height: min-content;
    padding: 50px 0px;
    padding-top: 20px;
  }
  .playlist1-list {
    overflow-y: scroll;
    height: 300px;
    width: 70vw;
    margin-bottom: 20px;
  }
}

.spacer {
  height: 64px;
  width: 100%;
}
